= form_for @journey do |f|
  - if @journey.errors.any?
    #error_explanation
      %h2= "#{pluralize(@journey.errors.count, "error")} prohibited this journey from being saved:"
      %ul
        - @journey.errors.full_messages.each do |message|
          %li= message

  .field.my-4
    = f.label :name
    = f.text_field :name , class: 'form-control form-control-lg'
  .field.my-4
    = f.label :start_date
    = f.datetime_field :start_date, class: 'form-control form-control-lg'
  .actions
    = f.submit 'Save'
