%h1 Listing journeys

%table
  %thead
    %tr
      %th Name
      %th Start date
      %th
      %th
      %th

  %tbody
    - @journeys.each do |journey|
      %tr
        %td= journey.name
        %td= journey.start_date
        %td= link_to 'Show', journey
        %td= link_to 'Edit', edit_journey_path(journey)
        %td= link_to 'Destroy', journey, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Journey', new_journey_path
